body{
	margin: 0 auto;
	background-image: url("https://wallpapersite.com/images/wallpapers/sunset-5120x2880-desert-dunes-minimal-5k-5603.jpg"); 
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: absolute;
}

.container{
	width: 500px;
	height: 400px;
	text-align: center;
	background-color: #34495E;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 150px;
}

.form_input{
	height: 50px;
	width: 500px;
	font-size: 25px;
	margin-bottom: 20px; 
}